# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyo

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
*.pkl

# Django environment variables
.env

# macOS specific
.DS_Store

# Node.js related (if using npm/yarn for static files)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest
.cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE and editor settings
.vscode/
.idea/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Static and media files (if not in source control)
staticfiles/
media/

api/account/migrations/
api/expense/migrations/
